body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial;
}

#grid{
    position: absolute;
    left: 0;
    width: 80%;
    margin-top: 20px;
}

#controls{
    position: absolute;
    right: 0;
    width: 20%;
    height: 100vh;
    background: rgba(0,0,0,0.1);
    overflow: auto;
}


#canvasEnemy, #canvasPlayer{
    display: block;
    margin: auto;
}

ul li{
    list-style: none;
    text-align: center;
    padding: 5px;
}
ul{
    margin: 0;
    padding: 0;
}

button{
    width: 80%;
    height: 50px;
    background: rgba(0,0,0,0.2);
    font-size: 15px;
    border: none;
    border-radius: 10px;
}